body {
  background-color: #c0fdff;
  font-family: Arial;
}
div.petalo {
  background-color: #dba901;
  border-radius: 40px;
  width: 83px;
  height: 83px;
  position: absolute;
}
#centro {
  background-color: #4d3e0d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
}
#tallo {
  width: 15px;
  height: 200px;
  background-color: #006c67;
  margin-top: -90px;
  margin-left: 145px;
}
#hoja {
  background-color: #006c67;
  border-radius: 15px 0px 15px 0px;
  width: 30px;
  height: 30px;
  margin-left: 160px;
  margin-top: -110px;
  position: absolute;
}
#hoja2 {
  background-color: #006c67;
  border-radius: 0 15px 0 15px;
  width: 30px;
  height: 30px;
  margin-left: 120px;
  margin-top: -70px;
  position: absolute;
}
#flor {
  width: 300px;
  height: 300px;
  background-color: transparent;
  position: relative;
}
#p1 {
  top: 70px;
  left: 40px;
}
#p2 {
  top: 40px;
  left: 110px;
}
#p3 {
  top: 70px;
  left: 180px;
}
#p4 {
  top: 145px;
  left: 44px;
}
#p5 {
  top: 180px;
  left: 114px;
}
#p6 {
  top: 140px;
  left: 180px;
}

#figura {
  position: relative;
  background-color: transparent;
  top: 0px;
  left: 0px;
  width: 300px;
  margin: auto;
}
